%link{rel: 'stylesheet', type: 'text/css', href: stylesheet_path('home')}

%div.container
  %div.sixteen.columns
    %h1.remove-bottom
      Theta Theater
  - theta_photos.each do |theta_photo|
    %div.photo-item.one-third.columns
      %iframe.thumbnail{src: "#{theta_photo.page_uri}?view=embed"}
        %img{src: theta_photo.image_uri}
      %p.link
        %a{href: theta_photo.page_uri} サイトで表示 (拡大縮小ができます)
