!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=Edge,chrome=1'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0'}
    %script{type: 'text/javascript', src: javascript_path('application')}
    %link{rel: 'stylesheet', type: 'text/css', href: stylesheet_path('application')}
    - if settings.no_robot
      %meta{name: 'robots', content: 'noindex,nofollow,noarchive,noodp,noydir'}
  %body
    = yield
