%link{rel: 'stylesheet', type: 'text/css', href: stylesheet_path('theater')}
%script{type: 'text/javascript', src: javascript_path('theater')}

%h1
  Theta Theater

%div#theater
  %div#screen
    %div#frame_container
